.container-mbti {
    padding: 10px;
}

/* <--------------data diri top section---------------> */

#data-diri-MBTI {
    margin-top: 100px;
    margin-bottom: 20px;
    overflow: hidden;
    display: block;
}

/* #data-diri-MBTI ul li {
    list-style: none;
    display: table;
    margin-bottom: 10px;
} */

#data-diri-MBTI ul {
    list-style: none;
    display: table;
    margin-bottom: 10px;
}

#data-diri-MBTI li {
    display: table-row;
    margin-bottom: 500px;
}

#data-diri-MBTI b {
    display: table-cell;
    padding-right: 1em;
    margin-bottom: 200px;
}

/* <--------------end data diri top section---------------> */
/* <--------------MBTI---------------> */
.mbti {
    text-align: center;
    font-size: 2.5vw;
}
/* <--------------end MBTI---------------> */
/* <--------------Karakter---------------> */
.karakter {
    margin: auto;
    background-color: crimson;
    width: 80%;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 20px;

    text-align: center;
    font-size: 200%;
    color: aliceblue;
    padding-top: 10px;
    box-shadow: 9px 10px 11px -3px rgba(36, 36, 36, 0.54);
    -webkit-box-shadow: 9px 10px 11px -3px rgba(36, 36, 36, 0.54);
    -moz-box-shadow: 9px 10px 11px -3px rgba(36, 36, 36, 0.54);
}
.karakter ul {
    display: inline-block;
    /* margin-right: 20px; */
    margin-top: -10px;

    text-align: left;
}

/* <--------------end of karakter---------------> */

/* <--------------Saran pekerjaan-----------------> */

.saran-pekerjaan {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.5fr repeat(3, 0.3fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: crimson;
    width: 80%;
    margin: auto;
    border-radius: 10px;
    color: aliceblue;
    padding-right: 5%;
    padding-left: 4%;

    padding-top: 30px;
    box-sizing: border-box;
    font-size: large;
    box-shadow: 9px 10px 11px -3px rgba(36, 36, 36, 0.54);
    -webkit-box-shadow: 9px 10px 11px -3px rgba(36, 36, 36, 0.54);
    -moz-box-shadow: 9px 10px 11px -3px rgba(36, 36, 36, 0.54);
    margin-bottom: 50px;
    padding-bottom: 30px;
    grid-auto-flow: column;
}

.pekerjaan {
    grid-column-start: 1;
    grid-column-end: 6;
    margin: auto;
    font-size: 150%;
}
.pekerjaan1 {
    grid-area: 2 / 1 / 3 / 2;
}
.pekerjaan2 {
    grid-area: 2 / 2 / 3 / 3;
}
.pekerjaan3 {
    grid-area: 2 / 3 / 3 / 4;
}
.pekerjaan4 {
    grid-area: 3 / 1 / 4 / 2;
}
.pekerjaan5 {
    grid-area: 3 / 2 / 4 / 3;
}
.pekerjaan6 {
    grid-area: 3 / 3 / 4 / 4;
}
.pekerjaan7 {
    grid-area: 4 / 1 / 5 / 2;
}
.pekerjaan8 {
    grid-area: 4 / 2 / 5 / 3;
}

.pekerjaan9 {
    grid-area: 4 / 3 / 5 / 4;
}
/* <-------------- END Saran pekerjaan-----------------> */

/* ------------RESPONSIVE PHONE------------- */

@media only screen and (max-width: 700px) {
    .container-mbti {
        padding: 0;
    }

    .karakter {
        font-size: 100%;
        padding-left: 2px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
            rgba(0, 0, 0, 0.12) 0px -12px 30px,
            rgba(0, 0, 0, 0.12) 0px 4px 6px,
            rgba(0, 0, 0, 0.17) 0px 12px 13px,
            rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    .karakter ul li {
        margin-top: 20px;
        margin-bottom: 8px;
    }
}

/* 
.saran-profesi {
    margin: auto;
    background-color: crimson;
    width: 80%;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 20px;

    text-align: center;
    font-size: 200%;
    color: aliceblue;
}

.saran-profesi ul li {
    /* display: inline-block; */
