.expiredlinksvg .exp {
    width: 90vw;
    height: 40vw;
    max-height: 500px;
}

@media only screen and (max-width: 800px) {
    .expiredlinksvg {
        margin-top: 1;
    }
    .expiredlinksvg .exp {
        width: 850px;
        height: 800px;
        margin-left: px;
    }
}
