.expiredlinksvg .exp {
  width: 100vw;
  height: 40vw;
  /* max-height: 700px; */
}

@media only screen and (max-width: 800px) {
  .expiredlinksvg {
    overflow: hidden !important;
  }
  .expiredlinksvg .exp {
    height: 1000%;
    width: 100vw;

    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(2);
    /* position: relative; */
  }
}
